<!DOCTYPE html>
<html lang="en">
<head>

    {{!-- {{>header}} --}}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {{!-- {{>navbar}} --}}

    <h1>Hello registered</h1>
    <form action="/register" method="post">

    <input type="text" placeholder="enter you name" name="fullname">
    <input type="email" placeholder="enter your email" name="email" >
    <input type="password" placeholder="enter the password" name="password">
    <input type="confirmpassword" placeholder="enter confirm password" name="confirmpassword">
    <input type="submit" class="btnRegister" value="Register" >
    </form>

     
</body>
</html>